<!-- NAVBAR-->
<nav class="navbar navbar-custom">

<div class="left-group">
  <div class="logo">RP</div>

  <div class="nav-links">
    <a href="/">Início</a>
    <a href="/conserto">Sobre Nós</a>
    <a href="/produtos" class="active">Conserto</a>
  </div>
</div>

  <!-- Busca -->
  <div class="search-box">
    <input type="text" placeholder="O que você procura?">
    <i class="bi bi-search"></i>
  </div>

  <!-- Ícone -->
  <div class="icons">

    <!-- Carrinho -->
    <div class="icon cart">
      <i class="bi bi-cart3"></i>
    </div>

    <!-- Conta -->
    <a href="/login" class="icon">
      <i class="bi bi-person-circle"></i>
    </a>

    <!-- Menu -->
    <div class="icon" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <i class="bi bi-list"></i>
    </div>

  </div>
</nav>
