<!DOCTYPE html>
<html>
  <head>
    <title>RP Celulares</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <!--ICONES-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  </head>
  <body>
        <header class="navbar">
    <div class="logo">
        RP 
    </div>

    <nav class="nav-buttons">
        <a href="/" class="btn-inicio">Início</a>
        <a href="/consertos">Conserto</a>
        <a href="/produtos">Produtos</a>
    </nav>
    
    <div class="user-login">
        <i class="bi bi-person-circle login-icon"></i>
        <a href="/cadastro" class="login-link">
            Cadastre-se na loja!  |  Fazer Login
        </a>
    </div>
</header>
  </body>
</html>
